body                    {margin: 0;}
h1                      {color: red;}

#timed, #static         {float: left;}
#timed>*, #static>*     {margin: 1em; border: 1px solid silver;}
#timed                  {width: 80%;}
#static                 {width: 20%;}
#static>*               {margin-left: 0;}

